{% extends 'includes/base.html.twig' %}

{% block title %}Movimientos{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{{ include('includes/header.html.twig') }}
	<div class="container-fluid" style="margin-top: 8%;">
		<div class="row justify-content-center">
			<!--div class="col-sm-auto align-self-center"-->
 			<div class="col-10">
			    <h1>Movimientos</h1>
                {% if movimientos is empty %}
                    <h3>No hay resultados para mostrar...</h3>
                {% else %}
                    {% for message_error in app.flashes('error') %}
                        <div class="alert alert-danger"> {{message_error}}</div>	
                    {% endfor %}
                    {% for message_success in app.flashes('success') %}
                        <div class="alert alert-primary"> {{message_success}}</div>	
                    {% endfor %}
                    <div class="row pt-1 pb-3">
                        <div class="col-2">
                            Identificador
                        </div>
                        <div class="col-2">
                            Cantidad 
                        </div>
                        <div class="col-2">
                            Tipo
                        </div>
                        <div class="col-2">
                            Fecha
                        </div>
                        <div class="col-2">
                            Articulo de Referencia
                        </div>
                    </div>
                    
                
    			    {% for movimiento in movimientos %}
                    <div class="">
                        <div class="row pt-1 pb-1">
                            <div class="col-2">
                                {{ movimiento.id|e }}
                            </div>
                            <div class="col-2">
                                {{ movimiento.cantidad|e }} 
                            </div>
                            <div class="col-2">
                                {{ movimiento.tipo|e }} 
                            </div>
                            <div class="col-2">
                                {{ movimiento.fecha|date("m/d/Y", false)}} 
                            </div>
                            <div class="col-2">
                                {{ movimiento.articulo.id|e }} 
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
             
			</div>
            
		</div>
	</div>
{{ include('includes/footer.html.twig') }}
{% endblock %}