{% block footer %}
  <!-- FOOTER -->
  <footer class="fixed-bottom text-white bg-dark pt-3">
    <p class="float-right"><a href="#">Volver arriba</a></p>
    <p>&copy;   Cands Ltd. &middot; <a href="#">Privacidad</a> &middot; <a href="#">Terminos</a></p>
  </footer>
{% endblock %}