{% block header %}
<!-- HEADER -->
<style>
.bfx_user_image_thmb{
  width: 4rem;
  height: 4rem;
  background-image: url('http://resources.bookflix.com/img/defaultuser.svg');
  background-size: cover;
}
</style>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
    <!-- Just an image -->
    <a class="navbar-brand" href="https://www.candsapp.com/">
      <img src="https://www.candsapp.com/images/logo.svg" width="200" height="80" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
      </ul>
    </div>
  </nav>
</header>
{% endblock %}
