{% extends 'includes/base.html.twig' %}

{% block title %}Articulos{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{{ include('includes/header.html.twig') }}
	<div class="container-fluid" style="margin-top: 8%;">
		<div class="row justify-content-center">
			<!--div class="col-sm-auto align-self-center"-->
 			<div class="col-10">
			    <h1>Artículos</h1>
                {% if articulos is empty %}
                    <h3>No hay resultados para mostrar...</h3>
                {% else %}
                    {% for message_error in app.flashes('error') %}
                        <div class="alert alert-danger"> {{message_error}}</div>	
                    {% endfor %}
                    {% for message_success in app.flashes('success') %}
                        <div class="alert alert-primary"> {{message_success}}</div>	
                    {% endfor %}
                    <div class="row pt-1 pb-3">
                        <div class="col-2">
                            Número
                        </div>
                        <div class="col-2">
                            Descripción 
                        </div>
                        <div class="col-2">
                            Inventario
                        </div>
                        <div class="col-2">
                            Ubicación
                        </div>
                        <div class="col-2">
                            Opciones
                        </div>
                    </div>
                    
                
    			    {% for articulo in articulos %}
                    <div class="">
                        <div class="row pt-1 pb-1">
                            <div class="col-2">
                                {{ articulo.numero|e }}
                            </div>
                            <div class="col-2">
                                {{ articulo.descripcion|e }} 
                            </div>
                            <div class="col-2">
                                {{ articulo.inventario|e }} 
                            </div>
                            <div class="col-2">
                                {{ articulo.ubicacion|e }} 
                            </div>
                            <div class="col-2">
                                <a class="btn btn-success btn-sm" href="{{path('listado-movimientos-por-id', { 'id':articulo.id})}}" role="button">Ver Movimientos</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
             
			</div>
            
		</div>

	</div>
{{ include('includes/footer.html.twig') }}
{% endblock %}